@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}


:root {
    --primary-color: #FB8122;
    --secondary-color: #1D2228;
    --tertiary-color: #E1E2E2;  
}

body {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

header {
    display: inline-block;
    position: relative;
    height: auto;
    width: auto;
    margin-top: 5vh;
    margin-left: 5vw;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 2em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#new-task {
    display: block;
    margin: 15px auto;
    background-color: var(--primary-color);
    height: 2em;
    width: 6em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    line-height: 3em;
    text-align: center;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    /* border: solid red; */
}

#tasks {
    display: absolute;
    margin: 0 auto;
    margin-top: 10vh;
    width: 50%;
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
}

.task {
    margin: 10px;
    padding: 10px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    position: relative;
    /* border: solid green; */
    width: 100%;
    display: inline-block;
}

.priority {
    position: absolute;
    right: 1em;
    top: .5em;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}
.bottom {
    padding-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 5px;
}
.complete, .delete {  
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 1.5em;
}
.complete {
    background-color: green;
    border-style: none;
    border-radius: 25px;
}

.delete {
    background-color: red;
    border-style: none;
    border-radius: 25px;
}

#sidebar {
    position: fixed;
    padding-right: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    background-color: var(--primary-color);
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 1;
}

.visible {
    display: flex;
}